db.url=jdbc:mariadb://localhost:3306/smart_parking_team2
db.username=parking_app
db.password=change-me-local-app-password

mail.host=localhost
mail.port=1025
mail.from=no-reply@smartparking.local
mail.auth=false
mail.ssl.enable=false
mail.starttls.enable=false
mail.debug=false
